spring:
  application:
    name: smartlock
  security:
    jwt:
      secret: ${JWT_SECRET}
      expiration: 86400000

  datasource:

    url: ${DB_URL}

    username: ${DB_USER}

    password: ${DB_PASSWORD}

    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect

    show-sql: true

    hibernate:
      ddl-auto: validate

  flyway:
    locations: classpath:db/migration

server:
  forward-headers-strategy: framework